#text-components{
    display: flex;
    flex-direction: row;
}

#editor, #preview {
    width: 90%;
    max-width: 700px;
}

#editor {
    background-color: #006400;
    color: #F6FEDB;
    font-family: 'Roboto Mono', monospace;
}

#preview {
    font-family: 'Roboto Slab', serif;
}

#preview, #preview h1 {
    margin-top: 0;
}

footer {
    font-family: 'Roboto Mono', monospace;
}

footer span {
    display: block;
}

footer a {
    color: #25597E;
}

@media only screen and (max-width: 1100px){
    #text-components{
        flex-direction: column;
    }

    #preview {
        margin-top: auto;
    }

}